
$font-Caveat: 'Caveat', cursive;
$font-Tangerine: 'Tangerine', cursive;
$font-Pacifico: 'Pacifico', cursive;
$font-DancingScript: 'Dancing Script', cursive;
$font-ArchitectsDaughter: 'Architects Daughter', cursive;
$font-Comfortaa: 'Comfortaa', cursive;
$font-Tangerine: 'Tangerine', cursive;
$font-MarckScript: 'Marck Script', cursive;
$font-Damion: 'Damion', cursive;
$font-Rancho: 'Rancho', cursive;
$font-ReenieBeanie: 'Reenie Beanie', cursive;
$font-GochiHand: 'Gochi Hand', cursive;
$font-Allura: 'Allura', cursive;
$font-JustAnotherHand: 'Just Another Hand', cursive;
$font-Niconne: 'Niconne', cursive;
$font-NixieOne: 'Nixie One', cursive;
$font-Limelight: 'Limelight', cursive;
$font-Rochester: 'Rochester', cursive;
$font-BalooTamma: 'Baloo Tamma', cursive;
$font-MeriendaOne: 'Merienda One', cursive;
$font-SueEllenFrancisco: 'Sue Ellen Francisco', cursive;
$font-Italianno: 'Italianno', cursive;
$font-Petit: 'Petit Formal Script', cursive;
$font-Montez: 'Montez', cursive;
$font-Clicker: 'Clicker Script', cursive;
$font-Sofia: 'Sofia', cursive;
$font-Arizonia: 'Arizonia', cursive;
$font-LaBelleAurore: 'La Belle Aurore', cursive;
$font-MrDeHaviland: 'Mr De Haviland', cursive;
$font-Qwigley: 'Qwigley', cursive;
$font-CaveatBrush: 'Caveat Brush', cursive;