@mixin socialButtonResponsiveInitialStyles {
  @include modifier('sm') {
    @include mobile-s {
      height: 7px;
      width: 7px;
    }
    @include tablet {
      height: 14px;
      width: 14px;
    }
  }

  @include modifier('md') {
    @include mobile-s {
      height: 14px;
      width: 14px;
    }

    @include tablet {
      height: 25px;
      width: 25px;
    }

    @include mobile-l {
      background-size: 14px;
    }

    @include tablet {
      background-size: 25px;
    }
  }

  @include modifier('lg') {
    @include mobile-s {
      height: 28px;
      width: 28px;
    }

    @include tablet {
      height: 50px;
      width: 50px;
    }

    @include mobile-l {
      background-size: 28px;
    }

    @include tablet {
      background-size: 50px;
    }
  }

  @include modifier('xlg') {
    @include mobile-s {
      height: 56px;
      width: 56px;
    }

    @include tablet {
      height: 100px;
      width: 100px;
    }

    @include mobile-l {
      background-size: 56px;
    }

    @include tablet {
      background-size: 100px;
    }
  }

  display: inline-block;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}