@import "../../theme/variables.scss";
@import "../../theme/bem.scss";
@import "../../theme/responsiveQuery.scss";

.landingPage {
  @include element('container') {
    /* position: absolute;
    overflow: hidden; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
