{
  "presets": ["env", "react"],
  "plugins": [
    [
      "transform-object-rest-spread",
      "@babel/plugin-transform-destructuring",
      "babel-plugin-styled-components",
      {"displayName": true}

    ]
  ]
}
